<div class="row">
  <div class="col-4">
    <h4>Happy kitchen consumers</h4>
    <p>Who wants to eat?</p>
    <ul id="consumers">
      <%= render @consumers %>
    </ul>

    <%= form_with(model: @consumer, class: "form-inline") do |f| %>
      <%= f.label :name, "Name:", class: "mr-sm-2" %><br>
      <%= f.text_field :name, required: true, class: "form-control form-control-sm mb-2 mr-sm-2" %>
      <%= f.submit class: "btn btn-primary btn-sm mb-2" %>
    <% end %>
  </div>
  <div class="col-8">
    <h4 class="text-center">Weekly bills</h4>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col" class="text-center">Monday</th>
          <th scope="col" class="text-center">Tuesday</th>
          <th scope="col" class="text-center">Wednesday</th>
          <th scope="col" class="text-center">Thursday</th>
          <th scope="col" class="text-center">Total shipping <small>*per consumer</small></th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-info">
          <td>Shipping per person</td>
          <td class="text-center"><%= DailyOffer.for_day(current_monday)&.first&.shipping_price_per_person %></td>
          <td class="text-center"><%= DailyOffer.for_day(current_tuesday)&.first&.shipping_price_per_person %></td>
          <td class="text-center"><%= DailyOffer.for_day(current_wednesday)&.first&.shipping_price_per_person %></td>
          <td class="text-center"><%= DailyOffer.for_day(current_thursday)&.first&.shipping_price_per_person %></td>
          <td></td>
        </tr>
        <% @consumers.each do |consumer| %>
          <tr>
            <td><%= consumer.name %></td>
            <td class="text-center <%= 'text-success' if consumer.paid_bill(current_monday) %>"><%= consumer.daily_bill(current_monday) %></td>
            <td class="text-center <%= 'text-success' if consumer.paid_bill(current_tuesday) %>"><%= consumer.daily_bill(current_tuesday) %></td>
            <td class="text-center <%= 'text-success' if consumer.paid_bill(current_wednesday) %>"><%= consumer.daily_bill(current_wednesday) %></td>
            <td class="text-center <%= 'text-success' if consumer.paid_bill(current_thursday) %>"><%= consumer.daily_bill(current_thursday) %></td>
            <td class="text-center <%= 'text-success' if consumer.paid_weekly_shipping(days: weekly_days) %>"><%= consumer.weekly_shipping(days: weekly_days) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
