<% if @daily_offer.closed? %>
  <div class="text-danger lead">
    Daily offer is closed! For any changes, please contact Goran directly.
  </div>
<% end %>

<h4 class="text-center">Bon appetit :)</h4>
<p>
	Daily offer for: <b><%= week_day(daily_offer.day) %> (<%= formatted_date(daily_offer.day) %>)</b><br>
	Specialty of the house: <b><%=daily_offer.name  %></b><br>
	Price: <b><%=daily_offer.price %></b> RSD<br>
	Shipping: <b><%=daily_offer.shipping %></b> RSD <em class="text-info small">*shared between all daily consumers</em>
</p>
