<div class="container-fluid">
  <% if @daily_offer.closed? %>
    <p class="text-danger">Daily offer is closed! For any changes, please contact Goran directly.</p>
  <% end %>
  <h4>Daily offer for <%= Date::DAYNAMES[@daily_offer.day.cwday] %> (<%= formatted_date(@daily_offer.day) %>)</h4>
  <p><b>Specialty of the house:</b> <%=@daily_offer.name  %></p>
  <p><b>Price:</b> <%=@daily_offer.price %> RSD</p>
  <p>
    <b>Shipping:</b> <%=@daily_offer.shipping %> RSD<br>
    *<em>shared between all daily consumers</em>
  </p>

  <% if !@daily_offer.closed? %>
    <%= form_with(model: Order.new, local: true, class: "form-inline") do |f| %>
      <%= f.label :consumer_id, "Consumer:", class: "mr-sm-2" %>
      <%= f.select :consumer_id, Consumer.pluck(:name, :id), { required: true }, { class: "form-control form-control-sm mb-2 mr-sm-2" } %>
      <%= f.label :number_of_meals, "Number of portions:", class: "mr-sm-2" %>
      <%= f.number_field :number_of_meals, required: true, in: 1..20, step: 1, value: 1, class: "form-control form-control-sm mb-2 mr-sm-2" %>
      <%= f.hidden_field :daily_offer_id, value: @daily_offer.id %>
      <%= f.submit class: "btn btn-primary btn-sm mb-2" %>
    <% end %>
  <% end %>

  <h4>Orders</h4>
  <p>Shipping price per person: <i class="text-info"><%= @daily_offer.shipping_price_per_person %></i></p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Consumer name</th>
        <th scope="col" class="text-center">Number of portions</th>
        <th scope="col">Meal price</th>
        <th scope="col">Meal paid</th>
        <th scope="col">Shipping paid</th>
        <% if !@daily_offer.closed? %>
          <th scope="col">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @daily_offer.orders.each_with_index do |order, i| %>
        <tr>
          <th scope="row"><%= i + 1 %></th>
          <td><%= order.consumer.name %></td>
          <td class="text-center"><%= order.number_of_meals %></td>
          <td><%= order.total_meal_price %></td>
          <td class="<%= order.shipping_paid ? 'text-success' : 'text-danger' %>"><%= order.meal_paid %></td>
          <td class="<%= order.shipping_paid ? 'text-success' : 'text-danger' %>"><%= order.shipping_paid %></td>
          <% if !@daily_offer.closed? %>
            <td class="text-danger">
              <%= link_to "Delete", order_path(order), method: :delete, data: { confirm: "Are you sure #{order.consumer.name}" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
